body {
	font-family: 'Rajdhani', sans-serif;
	.all {
		margin: 0 auto;
		
		i {
			color: #fff;
			margin-left: 5px;
			margin-right: 5px;
		}
		header {
			height: 15px;
			width: 100%;
			background: #c5c5c5;
			display: flex;
			align-items: center;
			font-size: 12pt;
			color: white;
			text-transform: uppercase;
			justify-content: center;
			.img_container {
				position: absolute;
				right: 180px;
			}
		}
		.slider {
			height: 700px;
			width: 100%;
			background: #f8f7f3;
			display: flex;
			align-items: center;
			img {
				height: 100%;
				width: 100%;
			}
		}
		.header_div {
			width: 100%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			background: black;
			height: 45px;
			.shop_number {
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.shop_number:after {
				position: relative;
				margin-left: -39px;
				color: black;
				content: "10";
				font-size: 13.5pt;
				top: -3px;
			}
		}
		.product {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 35px 0;
			.aft_bef {
			text-transform: uppercase;
			font-size: 1.7em;
		}
		span.aft_bef::after {
			position: relative;
			bottom: 3px;
			right: -21px;
			content: url("img/seta_after.png");
		}span.aft_bef::before {
			position: relative;
			bottom: 3px;
			left: -21px;
			content: url("img/seta_befor.png");
		}
			.divisor {
				width: 170px;
				height: 50px;
			}
			img {
				width: 437px;
				height: 17px;
			}
			.content {
				margin-bottom: 70px;
				margin-top: 17px;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				img {
					width: 17px;
					height: 17px;
					cursor: pointer;
				}
				.block {
					margin-right: 7px;
					margin-left: 7px;
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 175px;
					height: 350px;
					;
					img {
						margin-bottom: 10px;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
		.divisor_container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 90%;
			max-width: 1230px;
			margin: 0 auto;
			.aft_bef{
				font-size: 1.7em;
				text-transform: uppercase;
				margin-top: 55px;
				margin-bottom: 35px;
			}
			span.aft_bef::after {
			position: relative;
			bottom: 3px;
			right: -21px;
			content: url("img/seta_after.png");
		}span.aft_bef::before {
			position: relative;
			bottom: 3px;
			left: -21px;
			content: url("img/seta_befor.png");
		}
			.block {
				margin-bottom: 25px;
				width: 100%;
				display: flex;
				;
				justify-content: space-between;
				align-content: space-between;
				img {
					width: 100%;
					height: 100%;
				}
				.adap {}
			}
			.bottom_img {
				margin-top: 70px;
				margin-bottom: 30px;
			}
		}
		.container {
			margin-top: 170px;
			height: 230px;
			display: flex;
			justify-content: space-around;
			width: 90%;
			max-width: 1230px;
			margin: 0 auto;
			img {
				width: 100%;
			}
		}
		.quem {
			margin: 0 auto;
			display: flex;
			justify-content: center;
			margin-top: 50px;
			margin-bottom: 30px;
			.aft_bef {
			text-transform: uppercase;
			font-size: 1.7em;
		}
		span.aft_bef::after {
			position: relative;
			bottom: 3px;
			right: -21px;
			content: url("img/seta_after.png");
		}span.aft_bef::before {
			position: relative;
			bottom: 3px;
			left: -21px;
			content: url("img/seta_befor.png");
		}
		}
		.usa {
			display: flex;
			justify-content: space-around;
			align-items: center;
			margin: 0 auto;
			width: 90%;
			max-width: 1230px;
			
			.block {
				width: 285px;
				height: 275px;
				img {
					width: 100%;
				}
			}
		}
		.last {
			margin: 0 auto;
			margin-top: 70px;
			width: 90%;
			max-width: 1230px;
			display: flex;
			justify-content: space-around;
			align-items: center;
			.cad {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 19pt;
				color: #393939;
				background: #d0d0d0;
				text-transform: uppercase;
				height: 45px;
				width: 215px;
				border-bottom: solid 5px #4f5052;
				box-shadow: 0px 1px 0px 1px #b9b9ba;
			}
			button {
				width: 371px;
				height: 50px;
				font-size: 1.5em;
				color: #393939;
				text-transform: uppercase;
				border: solid 2px #d0d0d0;
				background: none;
			}
		}
		footer {
			display: flex;
			margin-top: 55px;
			background: #000;
			height: 45px;
			width: 100%;
			.container_footer {
				margin: 0 auto;
				width: 100%;
				max-width: 1230px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				.mob_img{
					display: none;
				}
				.text {
					font-size: 1.3em;
					color: white;
					display: flex;
					text-transform: uppercase;
					justify-content: space-between;
					div {
						margin-left: 15px;
						margin-right: 15px;
						font-size: 15pt;
					}
				}
			}
		}
	}
}

@media screen and (max-width:770px) {
	body {
		.all {
			.last {
				font-size: 1em;
				.cad {
					font-size: 0.8em;
				}
				button {
					margin-right: 5px;
					margin-left: 5px;
					font-size: 0.8em;
				}
			}
			header {
				.img_container {
					display: none;
				}
			}
			.social {
				display: flex;
			}
			.container {
				height: 100px;
				div {
					margin-right: 10px;
					margin-left: 10px;
				}
			}
			.usa {
				.block {
					margin-left: 10px;
					margin-right: 10px;
					height: 185px;
				}
			}
		}
	}
}

@media screen and (max-width:355px) {
	body {
		.all {
			.slider {
				margin-top: 29px;
				height: 195px;
			}
			.header_div {
				display: flex;
				justify-content: space-between;
				top: 0px;
				position: absolute;
				.shop_number {}
			}
		}
	}
}
