body {
	font-family: 'Rajdhani', sans-serif;
}

body .all {
	margin: 0 auto;
}

.login_header_text {
	text-transform: uppercase;
	color: #ffff;
	font-size: 1.5em;
	margin-right: 10px;
}

.arrow_div {
	display: none;
}

body .all i {
	color: #fff;
	margin-left: 5px;
	margin-right: 5px;
}

body .all header {
	height: 15px;
	width: 100%;
	background: #c5c5c5;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 12pt;
	color: white;
	text-transform: uppercase;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

body .all header .img_container {
	position: absolute;
	right: 180px;
}

body .all .slider {
	height: 700px;
	width: 100%;
	background: #f8f7f3;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

body .all .slider .clothing {
	
	width: 35%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 5;
	flex-direction: column;
}

body .all .slider .clothing .line_div {
	width: 70%;
	height: 3px;
	background: #000;
	margin-top: 5px;
	margin-bottom: 5px;
}

body .all .slider .clothing .header {
	font-size: 3em;
	text-transform: uppercase;
}

body .all .slider .clothing button {
	height: 35px;
	margin-top: 35px;
	width: 25%;
	border: solid 3px #000;
	text-transform: uppercase;
	background: none;
	font-size: 1.1em;
	cursor: pointer;
}
button:focus{
	outline: none;
}
body .all .slider .clothing .bottom_text {
	font-size: 2em;
	text-transform: uppercase;
}

body .all .slider img {
	height: 100%;
	width: 100%;
}

body .all .header_div {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: black;
	height: 45px;
}

body .all .header_div .shop_number {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

body .all .header_div .shop_number:after {
	position: relative;
	margin-left: -39px;
	color: black;
	content: "10";
	font-size: 13.5pt;
	top: -3px;
	z-index: 50;
}

body .all .product {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 35px 0;
}

body .all .product .aft_bef {
	text-transform: uppercase;
	font-size: 1.7em;
}
.basket_img{
	z-index: 25;
}
.product_pop{
	width: 100%;
	
}

body .all .product span.aft_bef::after {
	position: relative;
	bottom: 3px;
	right: -21px;
	content: url("img/seta_after.png");
}

body .all .product span.aft_bef::before {
	position: relative;
	bottom: 3px;
	left: -21px;
	content: url("img/seta_befor.png");
}

body .all .product .divisor {
	width: 170px;
	height: 50px;
}

body .all .product img {
	width: 437px;
	height: 17px;
}

body .all .product .content {
	margin-bottom: 70px;
	margin-top: 17px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
}

body .all .product .content img {
	width: 17px;
	height: 17px;
	cursor: pointer;
}

body .all .product .content .block {
	margin-right: 7px;
	margin-left: 7px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 175px;
	height: 350px;
}

body .all .product .content .block img {
	margin-bottom: 10px;
	width: 100%;
	height: 100%;
}

body .all .divisor_container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 90%;
	max-width: 1230px;
	margin: 0 auto;
}

body .all .divisor_container .aft_bef {
	font-size: 1.7em;
	text-transform: uppercase;
	margin-top: 55px;
	margin-bottom: 35px;
}

body .all .divisor_container span.aft_bef::after {
	position: relative;
	bottom: 3px;
	right: -21px;
	content: url("img/seta_after.png");
}

body .all .divisor_container span.aft_bef::before {
	position: relative;
	bottom: 3px;
	left: -21px;
	content: url("img/seta_befor.png");
}

.mob_div_img {
	display: none;
}

body .all .divisor_container .block {
	margin-bottom: 25px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-line-pack: justify;
	align-content: space-between;
}

body .all .divisor_container .block img {
	width: 100%;
	height: 100%;
}

body .all .divisor_container .bottom_img {
	margin-top: 70px;
	margin-bottom: 30px;
}

body .all .container {
	margin-top: 170px;
	height: 230px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	width: 90%;
	max-width: 1230px;
	margin: 0 auto;
}

body .all .container img {
	width: 100%;
}

body .all .quem {
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

body .all .quem .aft_bef {
	text-transform: uppercase;
	font-size: 1.7em;
}

body .all .quem span.aft_bef::after {
	position: relative;
	bottom: 3px;
	right: -21px;
	content: url("img/seta_after.png");
}

body .all .quem span.aft_bef::before {
	position: relative;
	bottom: 3px;
	left: -21px;
	content: url("img/seta_befor.png");
}

body .all .usa {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 auto;
	width: 90%;
	max-width: 1230px;
}

body .all .usa .block {
	width: 285px;
	height: 275px;
}

body .all .usa .block img {
	width: 100%;
}

body .all .last {
	margin: 0 auto;
	margin-top: 70px;
	width: 90%;
	max-width: 1230px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

body .all .last .cad {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 19pt;
	color: #393939;
	background: #d0d0d0;
	text-transform: uppercase;
	height: 45px;
	width: 215px;
	border-bottom: solid 5px #4f5052;
	-webkit-box-shadow: 0px 1px 0px 1px #b9b9ba;
	box-shadow: 0px 1px 0px 1px #b9b9ba;
}

body .all .last button {
	width: 371px;
	height: 50px;
	font-size: 1.5em;
	color: #393939;
	text-transform: uppercase;
	border: solid 2px #d0d0d0;
	background: none;
}

body .all footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 55px;
	background: #000;
	height: 45px;
	width: 100%;
}

body .all footer .container_footer {
	margin: 0 auto;
	width: 100%;
	max-width: 1230px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

body .all footer .container_footer .mob_img {
	display: none;
}

body .all footer .container_footer .text {
	font-size: 1.3em;
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-transform: uppercase;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.top{
	background: black;
	height: 45px;
	width: 100%;
	color: white;
	display: flex;
	align-items: center;
	font-size: 1.5em;
	text-transform: uppercase;
}
#basket{
	
	margin-top: 302px;
	position: absolute;
	right: 50px;
	width: 378px;
	height: 650px;
	background: none;
	display: none;
	z-index: 10;
	box-shadow: 0px 0px 2px 1px #000000;
	flex-direction: column;
}
body .all footer .container_footer .text div {
	margin-left: 15px;
	margin-right: 15px;
	font-size: 15pt;
}

@media screen and (max-width: 770px) {
	body .all .slider .clothing button{
		font-size: 8pt;
	}
	body .all .product .content .block{
		height: 250px;
	}
	body .all .slider .clothing .bottom_text{
		font-size: 1.5em;
	}
	body .all .slider .clothing .header{
		font-size: 2em;
	}
	body .all .last {
		font-size: 1em;
	}
	body .all .last .cad {
		font-size: 0.8em;
	}
	body .all .last button {
		margin-right: 5px;
		margin-left: 5px;
		font-size: 0.8em;
	}
	body .all header .img_container {
		display: none;
	}
	body .all .social {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	body .all .container {
		height: 100px;
	}
	body .all .container div {
		margin-right: 10px;
		margin-left: 10px;
	}
	body .all .usa .block {
		margin-left: 10px;
		margin-right: 10px;
		height: 185px;
	}
}

@media screen and (max-width: 355px) {
	body .all .slider {
		margin-top: 29px;
		height: 195px;
	}
	body .all .header_div {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-around;
		top: 0px;
		position: absolute;
	}
	body .all .product .aft_bef {
		font-size: 0.9em;
	}
	body .all .product span.aft_bef::before {
		bottom: 0px;
	}
	body .all .product span.aft_bef::after {
		bottom: 0px;
	}
	body .all header {
		margin-top: 45px;
	}
	body .all .slider {
		margin-top: 0;
	}
	body .all .product .content .block {
		height: 110px;
		margin-right: 5px;
		margin-left: 5px;
	}
	body .all .divisor_container .block {
		flex-direction: column;
	}
	body .all .divisor_container {
		height: 1635px;
	}
	body .all .divisor_container .aft_bef {
		font-size: 0.9em;
	}
	body .all .divisor_container span.aft_bef::before {
		bottom: 0;
	}
	body .all .divisor_container span.aft_bef::after {
		bottom: 0;
	}
	body .all .product {
		padding: 17px 0;
	}
	body .all .divisor_container span.aft_bef::before {
		left: -10px;
	}
	body .all .divisor_container .aft_bef {
		margin-top: 25px;
		margin-bottom: 25px;
	}
	body .all .quem .aft_bef {
		font-size: 0.9em;
		margin-top: -21px;
	}
	body .all .quem span.aft_bef::before {
		bottom: 0px;
	}
	body .all .quem span.aft_bef::after {
		bottom: 0px;
	}
	body .all .container {
		height: 50px;
	}
	body .all .usa .block {
		height: 70px;
	}
	body .all .usa {
		height: 50px;
	}
	body .all .last {
		flex-direction: column;
	}
	.arrow {
		display: none;
	}
	.arrow_div {
		text-transform: uppercase;
		background: #000;
		font-size: 1.1em;
		color: #fff;
		width: 290px;
		height: 37px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.login_header_text {
		display: none;
	}
	body .all .last button {
		width: 290px;
		height: 37px;
		font-size: 1.1em;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	body .all .last .cad {
		font-size: 1.1em;
		color: #fff;
		width: 290px;
		height: 37px;
	}
	body .all footer {
		display: none;
	}
	body .all .product .content .disp_none {
		display: none;
	}
	.mob_div_img {
		margin-top: 25px;
		width: 100%;
		height: 45px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #f1f1f1;
	}
	body .all .header_div .shop_number {
		width: 35px;
		position: relative;
		left: -21px;
	}
	body .all .slider .clothing .header{
		font-size: 0.9em;
	}
	body .all .slider .clothing .bottom_text{
		font-size: 0.7em;
	}
	body .all .slider .clothing button{
		width: 55%;
    font-size: 0.7em;
    height: 27px;
    border: solid 2px;
    margin-top: 11px;
	}
}
